.elRow{ display: flex !important; justify-content: center; align-items: center;}
.elRowJustifyLeft{ display: flex; justify-content: left; align-items: center; }
body { background-color: #fff; height: 100%; }
/deep/.ivu-icon { font-size: 14px }
.ivu-input{
    border-radius: 0 !important;
    font-size: 14px !important
}
.ivu-form-item-label{
    font-size: 14px !important;
    color: #141111 !important
}
.ivu-input:focus{
  border-color: #e5e5e5 !important;
  box-shadow: none !important;
}
.ivu-page{
    margin-top: 10px !important;
    text-align: center !important;
}
.ivu-page-prev, .ivu-page-next  {
 border: 1px solid #d7dde4 !important;
 width: 60px;
 height: 34px;
}
  .ivu-page>li>a{
    font-size: 16px !important;
    color: #686F92 !important;
  }
  .ivu-page>.ivu-page-disabled,.ivu-page>.ivu-page-disabled:hover{
    background: #CDCED3 !important;
  }
  .ivu-page>.ivu-page-disabled>a>.ivu-icon-ios-arrow-back,.ivu-page>.ivu-page-disabled>a>.ivu-icon-ios-arrow-forward{
    color: #fff !important;
  }
  .ivu-page.mini .ivu-page-item,.ivu-page-item{
    border: 1px solid #d7dde4 !important;
    width: 50px;
    height: 34px;
  }
  .ivu-page>.ivu-page-item-active{
    background: #3DAAFF !important;
    border: none;
  }
  .ivu-page>li:hover{
    background: #3DAAFF !important;
    border: none;
  }
  .ivu-page>li:hover a{
    color: #fff !important;
  }
  .ivu-page>.ivu-page-item-active>a{
    color: #fff !important;
    font-size: 16px !important;
  }
.ivu-modal-header-inner{
    font-size: 20px !important;
    text-align: center !important;
    color: #474C63 !important;
    font-weight: normal !important;
}
.ivu-modal-header{
    background-color: #fff !important;
    padding: 21px 0px
}
.ivu-modal-close .ivu-icon-ios-close,.ivu-modal-close .ivu-icon-ios-close:hover{
  color: #474C63!important
}
.ivu-input-number{
    width: 100% !important;
}
.ivu-date-picker{
  width: 100% !important
}
.ivu-modal-content{
  border-radius: 0 !important
}
.sub-btn {
  background: #3DAAFF;
  border-radius: 4px;
  width: 200px;
  height: 36px;
  border: 0;
}
.total-num{ margin-left: 20px;margin-bottom: 10px; color: #3DAAFF; font-size: 12px}
.ivu-select{ text-align: left !important; }
.ivu-select-multiple .ivu-select-item-selected { color: #3DAAFF !important; }
.ivu-select-multiple .ivu-select-item-selected:after { color: #3DAAFF !important; }

.ivu-tabs-nav-scroll{
    display: flex;
    justify-content: center;
}
.ivu-tabs-nav{
    display: flex;
}
.ivu-tabs-tab{
    width: 122px !important;
    height: 60px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #474C63;
    letter-spacing: 0;
    padding: 0 25px !important;
}
.ivu-tabs-ink-bar{
    background: #4098FF;
    border-radius: 100px;
    height: 5px  !important;
    width: 80px !important;
    margin-left: 22px  !important;
}
.ivu-tabs-bar{
    border: none !important;
    margin-bottom: 0 !important;
}
.ivu-table th{
  background: #fff !important;
}
.ivu-table{
    font-size: 16px !important;
}
.ivu-btn{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 16px !important;
}
.ivu-modal-confirm-footer>.ivu-btn{
    display: inline-block !important;
}
.ivu-btn-text{
    display: inline-block !important;
}
textarea.ivu-input{
    resize: none;
}
.ivu-modal-content{
    border-radius: 10px !important;
}
.ivu-modal-header{
    border-radius: 10px 10px 0 0 !important;
}
.ivu-table-cell-tooltip-content{
  margin-top: 3px !important;
}
.ivu-table th,.ivu-table td{
  border-bottom: 1px solid #f0f0f7  !important
}
.ivu-table-wrapper{
  border: none !important;
  border-top: 1px solid #f0f0f7  !important;
  border-bottom: 1px solid #f0f0f7  !important;
}
.logo-img {
  width: 34px !important;
}
.logo-title {
  color: #fff;
  font-size: 18px;
  margin-left: 10px;
}
.form-label{
  letter-spacing: 14px;
}
.log-and-answer-content{
  width: 100%;
}
/* .ivu-table-row-highlight td, tr.ivu-table-row-highlight.ivu-table-row-hover td, .ivu-table-stripe .ivu-table-body tr.ivu-table-row-highlight:nth-child(2n) td, .ivu-table-stripe .ivu-table-fixed-body tr.ivu-table-row-highlight:nth-child(2n) td{
  background: #fff !important;
}
.ivu-table-row:hover td{
  background: #fff !important;
}
.ivu-table-row-hover {
  z-index: 66666;
  box-shadow: 2px 0px 2px red !important;
  box-sizing: border-box !important;
  position: absolute;
  width: 100% !important;
} */

